<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stream k topic</title>
    <script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js" >

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            stream();

        });
        function poll(){
            $.ajax( {
                url : "/getKafka",
                contentType: "application/text",
                cache : false,
                success : function(data){
                    if(data != "") {
                        html = $("#content").html();
                        $("#content").html(html + "<br>" + data);
                    }
                },
                error: function(err){
                    alert(err);
                }
            });
            setTimeout(poll, 10000);
        }
        function stream(){
            var source = new EventSource("/getKafka");
            source.onmessage = function(event){
                html = $("#content").html();
                $("#content").html(html + "<br>" + event.data);
            }
        }
    </script>
</head>
<body>
    <div id="content"></div>

</body>
</html>